h1,
h3 {
    text-transform: uppercase;
}

h1 {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

h2 {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 1rem auto;

    & + p {
        margin: .5rem 0;
    }
}

h3 {
    font-size: 1.3rem;
    font-weight: 700;
    color: $secondary-color-1;
}

