h1,
h3 {
    text-transform: uppercase;
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin: .5rem auto .8rem;
}

h2 {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 1rem auto;

    & + p {
        margin: .5rem 0;
    }
}

h3 {
    font-size: 1.3rem;
    font-weight: 700;
    color: $secondary-color-1;
}

.subtitle {
    font-size: 1.2rem;
    text-align: center;
    font-style: italic;
    margin-bottom: 1rem;
}

