$main-color: #1f2041;
$secondary-color-1: #4b3f72;
$secondary-color-2: #ffc857;
//$tertiary-color-1: #119da4;
//$tertiary-color-2: #19647e;
$tertiary-color-1: #8d6a9f;
$tertiary-color-2: #c5cbd3;
$light-grey: #f4f4f4;
$white: #fff;

$danger-color: #db504a;
