.content-flashs {
  .alert {
    margin: 2rem;

    @media screen and (min-width: $breakpoint-medium) {
      margin: 2rem 5rem;
    }
  }
}

.alert {
  background: $white;
  border: 1px solid;
  border-radius: 5px;
  padding: 1rem;
  margin: auto auto 1rem;


  li {
    font-size: .9rem;
  }


}

.alert-status,
.alert-successes,
.alert-success {
  border-color: $success-color;

  li {
    color: $success-color;
  }
}

.alert-errors,
.alert-error {
  border-color: $danger-color;

  li {
    color: $danger-color;
  }
}

.alert-warnings,
.alert-warning {
  border-color: $warning-color;

  li {
    color: $warning-color;
  }
}

.alert-answer {
  line-height: 1.5;
  margin-top: .2rem;

  .list-item {
    margin-left: 1.5rem;
    list-style-type: disc;
  }
}

.alert-explanation {
  border-radius: 10px;
  margin: 1rem auto 0;
}
