.alert {
  border: 1px solid;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 2rem;
}

.alert-success {
  background: $success-color-light;
  border-color: $success-color;
}

.alert-error {
  background: $danger-color-light;
  border-color: $danger-color;
}

.alert-answer {
  line-height: 1.5;
  margin-top: .2rem;

  .list-item {
    margin-left: 1.5rem;
    list-style-type: disc;
  }
}
