.normal-flag {
  margin: -24px !important;
  transform: scale(.4) !important;
  -ms-transform: scale(.4) !important;
  -webkit-transform: scale(.4) !important;
  -moz-transform: scale(.4) !important;
}
