.login-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;

  .form-container {
    border: 1px solid $secondary-color-1;
    border-radius: 1rem;
    padding: 2rem;
    width: 70%;
    background: $white;
  }

  input[type="email"],
  input[type="password"] {
    width: 100%;
  }

  button {
    width: 100%;
  }

  .forgot-password {
    margin-top: .5rem;
    font-size: .8rem;
    text-align: right;
    display: block;
  }

  @media screen and (min-width: $breakpoint-medium) {
    margin-left: 5rem;

    .form-container {
      width: 40%;
    }
  }
}
