.login-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;

  @media screen and (min-width: $breakpoint-medium) {
    margin-left: 5rem;
  }

  .form-container {
    border: 1px solid $secondary-color-1;
    border-radius: 1rem;
    padding: 2rem;
    width: 40%;
    margin-bottom: 5rem;
  }

  input[type="email"],
  input[type="password"] {
    width: 100%;
  }

  button {
    width: 100%;
  }
}