.test {
  legend {
    font-family: $main-font;
  }

  h2 {
    margin-bottom: 1rem;
  }

  .part {
    border: 2px solid;
    //border-color: $secondary-color-1;
    border-color: $danger-color;
    border-radius: 10px;
    padding: 2rem 1rem 1rem;
    margin-bottom: 3rem;
    position: relative;

    &.part-completed {
      border-color: $success-color;
    }

    .btn-close {
      position: absolute;
      top: 1rem;
      right: 1rem;
      border-radius: 50%;
      background: $secondary-color-1;
      color: $white;
      width: 2rem;
      height: 2rem;
      display: flex;
      justify-content: center;
      border: none;
      align-items: center;

      &:hover {
        cursor: pointer;
        background: $tertiary-color-1;
      }
    }
  }

  .part-hide {
    .questions {
      display: none;
    }

    /**&:not(.part-completed) {
      border-color: $danger-color;
    }**/
  }

  .part-instructions {
    font-weight: 700;
  }

  .on-preview {
    opacity: .5;
  }

  .img-preview {
    position: relative;
    @media screen and (min-width: $breakpoint-medium) {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.preview {
  position: fixed;
  background-repeat: no-repeat;
  border: 2px solid $secondary-color-1;
  border-radius: 10px;
  top: 20vh;
  right: 0;
  width: 30rem;
  height: 30rem;
  display: none;

  @media screen and (min-width: $breakpoint-medium) {
    display: block;
  }

  &.hidden {
    display: none;
  }
}


.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  width: 6rem;
  height: 6rem;
  display: none;

  @media screen and (min-width: $breakpoint-medium) {
    display: block;
  }
}
