.test {
  legend {
    font-family: "Nunito", sans-serif;
  }

  h2 {
    margin-bottom: 1rem;
  }
}

.part {
  border: 2px solid;
  //border-color: $secondary-color-1;
  border-color: $danger-color;
  border-radius: 10px;
  padding: 2rem 1rem 1rem;
  margin-bottom: 3rem;
  position: relative;

  &.part-completed {
    border-color: $success-color;
  }

  .btn-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border-radius: 50%;
    background: $secondary-color-1;
    color: $white;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    border: none;
    align-items: center;

    &:hover {
      cursor: pointer;
      background: $tertiary-color-1;
    }
  }
}

.part-hide {
  .questions {
    display: none;
  }

  /**&:not(.part-completed) {
    border-color: $danger-color;
  }**/
}

.part-instructions {
  font-weight: 700;
}