.footer {
  padding: .5rem;
  background: $main-color;
  font-size: .9rem;
  text-align: center;

  li {
    margin: .3rem auto;

    @media screen and (min-width: $breakpoint-small) {
      margin: initial;
      display: inline-block;

      &:not(:last-child) {
        &:after {
          content: '-';
          margin: 0 1rem;
          display: inline-block;
          color: $white;
        }
      }
    }
  }

  .footer--link {
    color: $white;
    text-decoration: none;
    font-weight: 700;

    &:hover {
      color: $white;
      opacity: .8;
    }
  }

  .footer--ico {
    display: inline-block;
    margin-left: .2rem;
  }

  p {
    color: $white;
  }
}
