.profile--menu {
    background: $light-grey;

    &-list {
        display: flex;
        flex-direction: column;
    }

    &-item {
        text-align: center;
        font-size: .8rem;

        .profile--menu-link {
            display: block;
            padding: 0.3rem 2rem;
            color: $white;

            &:hover {
                font-weight: 700;
            }
        }

        &.student--item {
            .profile--menu-link {
                background: $primary-color;

                &:hover {
                    background: $primary-color-dark;
                }
            }
        }

        &.teacher--item {
            .profile--menu-link {
                background: $info-color;

                &:hover {
                    background: $info-color-dark;
                }
            }
        }

        &.admin--item {
            .profile--menu-link {
                background: $warning-color;

                &:hover {
                    background: $warning-color-dark;
                }
            }
        }
    }
}

.header {
    align-items: center;
    background-color: $white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .04);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 8vh;
    padding: .5rem 3rem;

    .header--part {
        margin: .5rem auto;
    }
}

.header--menu {
    li {
        display: inline-block;
        margin: auto 1rem;
        vertical-align: middle;
    }

    a,
    button {
        color: $main-color;
        font-weight: 700;
        border: none;
        background: none;
        font-size: .85rem;

        &.submenu-opened {
            color: $main-color;
            transform: translateY(25%);
            display: inline-block;

            &::after {
                content: "•";
                display: block;
                text-align: center;
            }
        }

        &:hover {
            cursor: pointer;
        }


        &.active {
            color: $primary-color;
            transform: translateY(25%);
            display: inline-block;

            &:hover {
                color: $primary-color-dark;
                opacity: 1;
            }

            &::after {
                content: "•";
                display: block;
                text-align: center;
            }
        }
    }
}

.header--logo {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;

    a {
        text-decoration: none;

        &:hover {
            img {
                opacity: .7;
            }
        }
    }

    img {
        display: inline-block;
        margin-right: 1rem;
        vertical-align: middle;
        width: 3rem;
    }
}

.header--actions-list {
    .header--actions-list-item {
        display: inline-block;
        text-align: center;

        a {
            text-decoration: none;

            &:hover {
                .fas {
                    opacity: .5;
                }
            }
        }
    }

    .fas {
        color: $tertiary-color-2;
    }
}

.legend-ico {
    color: $secondary-color-1;
    font-size: 0.8rem;
    margin-right: 0.25rem;
    display: block;
    margin-top: .3rem;
    margin-left: 0.25rem;
}

@media screen and (min-width: $breakpoint-medium) {
    .header {
        flex-direction: row;
        padding: .5rem 5rem;

        .header--part {
            margin: initial;
        }
    }

    .profile--menu-list {
        flex-direction: row;
        padding: 0 5rem;

        .profile--menu-link {
            transform: skewX(-20deg);

            span {
                transform: skewX(+20deg);
                display: inline-block;
            }
        }
    }
}
