.tablev2 {
  .numeric-column {
    text-align: right;
  }

  .actions-column {
    text-align: center;

    button {
      border: none;
      background: none;
    }
  }

  td {
    border: none;
  }

  /**tr {
    &:hover {
      background: $tertiary-color-2;
      transition: all .01s linear;
    }
  }**/

  .role {
    display: inline-block;
    width: .8rem;
    height: .8rem;
    margin-right: .5rem;
    border-radius: 50%;

    &.role-student {
      background: $student-color;
    }

    &.role-teacher {
      background: $teacher-color;
    }

    &.role-admin {
      background: $admin-color;
    }
  }
}

.paginationv2 {
  display: block;
  margin: auto;
  text-align: center;

  button {
    border: none;
    background: none;
    font-size: .9rem;
    cursor: pointer;
  }

  li {
    span {
      font-size: 1rem;
      font-weight: 700;
    }

    i {
      font-size: .9rem;
    }
  }
}
