@mixin theme($main-color, $main-color-dark) {
  a {
    color: $main-color;

    &:hover {
      color: $main-color-dark;
    }
  }

  .header--menu {
    a,
    button {
      &.active {
        color: $main-color-dark;

        &:hover {
          color: $main-color-dark;
        }
      }
    }
  }

  .header--actions-list-item {
    .legend-ico {
      color: $main-color;
    }

    &:hover {
      color: $main-color-dark;
    }
  }

  .header--actions-list-item {
    .legend-ico {
      color: $main-color;
    }

    &:hover {
      .legend-ico {
        color: $main-color-dark;
      }
    }
  }

  .submenu {
    &.opened {
      background: $main-color;
    }
  }

  .submenu--item {
    a:hover {
      background: $main-color-dark;
    }
  }

  /** TABLE **/
  .table--actions {
    border-color: $main-color;
  }

  .actions-column {
    .actions-ico {
      color: $main-color;
    }

    .actions-btn {
      &:hover {
        cursor: pointer;

        .actions-ico {
          color: $main-color-dark;
        }
      }
    }
  }

  /** PAGINATION **/
  .paginationv2 {
    button {
      color: $main-color;

      &:hover {
        color: $main-color-dark;
      }
    }
  }

  /** FORM **/
  .field-container {
    label {
      color: $main-color;
    }
  }
}
