@mixin theme($main-color, $main-color-dark) {
  a {
    color: $main-color;

    &:hover {
      color: $main-color-dark;
    }
  }

  .header--menu {
    a,
    button {
      &.active {
        color: $main-color-dark;

        &:hover {
          color: $main-color-dark;
        }
      }
    }
  }

  .header--menu-item {
    .submenu-opened {
      border-top: 2px solid $main-color;
      border-bottom: 2px solid $main-color;
    }
  }

  .header--actions-list-item {
    .legend-ico {
      color: $main-color;
    }

    &:hover {
      color: $main-color-dark;
    }
  }

  .header--actions-list-item {
    .legend-ico {
      color: $main-color;
    }

    &:hover {
      .legend-ico {
        color: $main-color-dark;
      }
    }
  }

  .submenu {
    &.opened {
      background: $main-color;
    }
  }

  .submenu--item {
    a:hover {
      background: $main-color-dark;
    }
  }

  /** TABLE **/
  .table--actions {
    border-color: $main-color;
  }

  .actions-column {
    .actions-ico {
      color: $main-color;
    }

    .actions-btn {
      &:hover {
        cursor: pointer;

        .actions-ico {
          color: $main-color-dark;
        }
      }
    }
  }

  /** PAGINATION **/
  .paginationv2 {
    button {
      color: $main-color;

      &:hover {
        color: $main-color-dark;
      }
    }
  }

  /** FORM **/
  .field-container {
    label {
      color: $main-color;
    }
  }

  @media screen and (min-width: $breakpoint-medium) {
    .header--menu-item {
      .submenu-opened {
        border: none;
      }
    }
  }

  /** FOOTER **/
  &.footer {
    border-top: 4px solid $main-color;
  }

  /** CONTENT HEADER **/
  &.content-header {
    &.colored-background {
      background: $main-color;

      h1,
      li,
      p {
        color: $white;
      }

      a {
        color: $white;

        &:hover {
          opacity: .8;
        }
      }

      .content-header--buttons {
        .btn {
          background: $white;
          color: $main-color;
          border: 1px solid $white;

          &:hover {
            background: $main-color-dark;
            color: $white;
            opacity: 1;
          }

          &.btn-inverted {
            background: $main-color;
            color: $white;
            border: 1px solid $white;

            &:hover {
              background: $white;
              color: $main-color-dark;
            }
          }
        }
      }
    }
  }
}
